@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* Color theme custom properties */

  --color-primary-dark: #101828;
  --color-text-subtle: #8d929a;
  --color-border-light: #dadde1;
  --color-surface-soft: #f2f4f7;
  --color-input-field: #f7f7f7;
  --color-surface-white: #fff;
  --color-action-main: #3470ff;
  --color-action-active: #0b44cd;
  --radius-sharp: 12px;

  /* Fonts custom properties */

  --font-family-header: 'Manrope', sans-serif;
  --font-family-body: 'Inter', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-header);
  color: var(--color-primary-dark);
  background-color: var(--color-surface-white);
  min-height: 100vh;
  overflow-x: hidden;
  padding-bottom: 88px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
